apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: {{ .Release.Name  | quote }}
    heritage: {{ .Release.Service  | quote }}
    version: {{ .Values.imageTag | quote }}
spec:
  replicas: {{ default 1 .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 50%
      maxSurge: 50%
  selector:
    matchLabels:
      app: {{ template "fullname" . }}
  template:
    metadata:
      {{- if .Values.redeploy }}
      annotations:
        forceRedeployUniqId: {{ now | quote }}
      {{- end }}
      labels:
        app: {{ template "fullname" . }}
        chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
        release: {{ .Release.Name  | quote }}
        heritage: {{ .Release.Service  | quote }}
        version: {{ .Values.imageTag | quote }}
    spec:
      {{- if .Values.existingServiceAccount }}
      serviceAccountName: {{ .Values.existingServiceAccount }}
      {{- else if .Values.rbacEnabled }}
      serviceAccountName: {{ template "fullname" . }}
      {{- end }}
      containers:
      - name: {{ template "fullname" . }}
        image: "{{ .Values.image }}:{{ .Values.imageTag }}"
        imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
        env:
          - name: SERVICE_NAME
            value: {{ template "name" . }}
          - name: NAMESPACE_INTERVAL
            value: {{ .Values.namespaceInterval | quote }}
          - name: POD_INTERVAL
            value: {{ .Values.podInterval | quote }}
          - name: DEPLOYMENT_INTERVAL
            value: {{ .Values.deploymentInterval | quote }}
          - name: RELEASE_INTERVAL
            value: {{ .Values.releaseInterval | quote }}
          - name: SERVICE_INTERVAL
            value: {{ .Values.serviceInterval | quote }}
          - name: SECRET_INTERVAL
            value: {{ .Values.secretInterval | quote }}
          {{- if .Values.useNamespaceWideRole }}
          - name: ROLE_BINDING
            value: "true"
          {{- end }}
          - name: PORT
            value: {{ .Values.port | quote }}
          - name: LOG_LEVEL
            value: {{ .Values.logLevel | quote }}
          - name: CLUSTER_URL
            value: {{ .Values.clusterUrl | quote }}
          - name: CLUSTER_TOKEN
            value: {{ .Values.clusterToken | quote }}
          - name: CLUSTER_CA
            value: {{ .Values.clusterCA | quote }}
          - name: API_TOKEN
            value: {{ required "A Codefresh API token is required. See https://codefresh.io/docs/docs/integrations/codefresh-api/#authentication-instructions" .Values.apiToken | quote }}
          - name: CLUSTER_ID
            value: {{ .Values.clusterId | quote }}
          - name: API_URL
            value: {{ .Values.apiUrl | quote }}
          - name: ACCOUNT_ID
            value: {{ .Values.accountId | quote }}
          - name: DISABLE_HELM
            value: {{ .Values.disableHelm | quote }}
          - name: HELM3
            value: {{ .Values.helm3 | quote }}
          - name: USE_CONFIG
            value: {{ .Values.useConfig | quote }}
          - name: CLEAN
            value: "{{ .Values.clean }}"
          - name: NAMESPACE
            value: "{{ .Release.Namespace }}"
          - name: ACCOUNTS
            value: '{{ .Values.ACCOUNTS }}'
          - name: NEWRELIC_LICENSE_KEY
            value: "{{ .Values.newRelicLicenseKey }}"
          - name: NODE_OPTIONS
            value: "--max_old_space_size={{ .Values.heapSize }}"
          - name: FORCE_DISABLE_HELM_RELEASES
            value: "{{ .Values.forceDisableHelmReleases }}"
          {{- range $key, $value := .Values.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
        ports:
        - containerPort: {{ .Values.port }}
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /api/ping
            port: {{ .Values.port }}
          periodSeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
